:root {
  --buttonBgColor: #ff3e00;
  --buttonTextColor: #fff;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}